langchain
langchain-groq
langchain-community
langgraph
chromadb
sentence-transformers
openai-whisper
python-dotenv
streamlit
fastapi
uvicorn
pytest
pydantic
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client    
langsmith
pytest
mcp
spacy
tzlocal